title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0%;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4bb;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 000px;
    border-radius: 200px;
    border: 2px solid #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
   margin: auto;
   display: flex;;
  
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: flex;
}
div {
    margin-top: 20px;
    text-align: center;
}
input{
    text-align: center;

}
script{
    text-align: center;
}
#error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
#charts {
    margin-top: 30px;
}
#charts > div {
    margin-bottom: 40px;
}